/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  .modal__content {
    overscroll-behavior-y: contain;
    overflow-y: auto;
}

:root {

    --primary-color: rgba(58, 71, 82, 0.822);

    font-family: 'Roboto', sans-serif;


    --size-bezel: .5rem;
    --size-radius: 4px;
  
    line-height: 1.4;
}

body { 
    font: 300 1rem 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    background-color: rgb(226, 226, 226);
}


/* header */ 

header {
    order: 1;


    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    line-height: 4rem;
    width: 100%;

    font-size: 1.2rem;

    
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

header ul {
display: flex;
gap: 1rem;
}

header ul li {
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

header logo.logo {
    font-weight: 700;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
header logo.logo span {
    font-weight: 900;
    color: rgb(98, 209, 253);
}

/* main */ 

div.main-container {
    order: 2;
    flex-grow: 2;
    width: 90vw;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: .5rem;
    
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/* main CADASTRO */ 

div.main-container.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

/* TITULO DA PAG CADASTRO */

.title-cadastro {
    padding: 1rem;
    box-sizing: border-box;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    color: var(--primary-color);
}

.title-cadastro h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.title-cadastro p {
    font-size: 1.6rem;
}

/* FORMULARIO PAG CADASTRO */

.form-cadastro {
    padding: 2rem;
    flex-basis: 50%;
    
    
}

.card.form {
    height: 40rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    position: relative;
}

.card.form form {

    padding: 4.5rem 2rem 2rem 2rem;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2.6rem;
}

/* tamanho DOS ELEMENTOS DO FORM */

.input-container:nth-child(1) {
    width: 70%;
}

.input-container:nth-child(2) {
    width: 10%;
}

.input-container:nth-child(3) {
    width: 40%;
}

.input-container:nth-child(4) {
    width: 40%;
}


.input-container{
	position: relative;
	margin-bottom: 25px;
}
.input-container label{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 16px;
	color: #fff;	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
    font-size: 1rem;
}

.input-container textarea {
    border: 0;
    border-bottom: 1px solid rgba(36, 44, 51, 0.993);  
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 1rem;
    color: #fff;
}

.input-container input{ 
  border: 0;
  border-bottom: 1px solid rgba(36, 44, 51, 0.993);  
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 1rem;
  color: #fff;
}
.input-container input:focus{ 
 border: none;	
 outline: none;
 border-bottom: 1px solid rgb(98, 209, 253);	
}
  
.input-container input:focus ~ label,
.input-container input:valid ~ label,
.input-container textarea:focus ~ label,
.input-container textarea:focus ~ label {
	top: -0.8rem;
	font-size: .8rem;
}

form button {
    box-sizing: border-box;
    line-height: 2rem;
    align-self: baseline;
    font-size: 1rem;
    color: rgb(226, 226, 226); 
    background-color: rgba(36, 44, 51, 0.993);
    border: 0;
    
    margin-top: -.6rem;
    padding: .5rem 2rem;
    border-radius: .2rem;
}

/* Cidades */ 

div.content {
    margin: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    order: 1;
    flex-grow: 1;

    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

/* CARDS */

.card {
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.301) 0px 3px 8px;
}

.card.cidade {
    padding: .3rem;
    width: 14rem;
    height: 16rem;
    text-align: center;
}

.card.cidade h3{
padding: .5rem 1rem 1rem 1rem;
}

.card.cidade p {
    padding: 0 .5rem;
    text-align: justify;
    font-size:  .9rem;
    text-indent: 2rem;
}

.card.cidade p.hab {
    box-sizing: border-box;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size:  1rem;
    font-weight: 700;
    text-indent: 0;
}

.card.cidade button {
    color: rgb(226, 226, 226);
    background-color: var(--primary-color);
    border: 0;
    margin-bottom: .5rem;
    padding: .2rem 2rem;
    border-radius: .2rem;
}

.card.cidade button:hover {
    background-color: rgba(82, 100, 116, 0.822);
}






/* Estados */ 
aside {
    padding-top: 1.4rem;
    min-width: 10rem;
    margin: .4rem;
    flex-grow: 25%;
    order: 2;
}


aside a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(111, 111, 112);
    line-height: 1.7rem;
}

  
 

/* footer */

footer {
    padding: 0;
    color: rgb(255, 255, 255);
    order: 3;
    height: 3rem;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

footer span {
    font-weight: 700;
}